<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteBook"
        tools:targetApi="31">

        <!-- ① Splash -->
        <activity
            android:name=".ui.auth.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ② Login (Google Sign-In) -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <!-- ③ Main notes screen -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <!-- ④ Bin -->
        <activity
            android:name=".ui.screens.BinActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"/>

        <!-- ⑤ Archive -->
        <activity
            android:name=".ui.screens.ArchiveActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"/>

        <!-- ⑥ Folders -->
        <activity
            android:name=".ui.screens.FoldersActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"/>

        <!-- ⑦ Folder notes -->
        <activity
            android:name=".ui.screens.FolderNotesActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".ui.screens.FoldersActivity"/>

        <!-- ⑧ Search -->
        <activity
            android:name=".ui.screens.SearchActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:parentActivityName=".ui.MainActivity"/>

    </application>

</manifest>
